<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guiado.kidangu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bookshelf"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bookshelf"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.guiado.kidangu.theapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.guiado.kidangu.view.FragmentWorld"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.guiado.kidangu.view.FragmentKural"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


           <activity
            android:name="com.guiado.kidangu.view.FragmentTopics"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.guiado.kidangu.view.FragmentWorldStory"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>



        <activity
            android:name="com.guiado.kidangu.view.FragmentShortStories"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>